.addTodo {
  margin-top: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 12px;

  h1 {
    font-size: 20px;
  }

  .inputTodo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    transition: all 0.4s ease;
    font-size: 24px;
    padding: 10px;
    background-color: #e3f2fd;
    border-radius: 10px;
    border: none;
    outline: none;
    &::placeholder {
      color: #495057;
    }
    &:focus {
      background-color: #fff;
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      &::placeholder {
        opacity: 0;
        transition: all 0.4s ease;
      }
    }
  }

  .btnTodo {
    cursor: pointer;
    font-size: 20px;
    padding: 8px 16px;
    color: #fff;
    background-color: #0062cc;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    border-radius: 10px;
    &:disabled {
      cursor: default;
      opacity: .6;
    }

    &:active {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}
